header{
    font-family: 'Butterfly Kids', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    padding: 0px;
    margin: 0;
}
body{
    font-family: 'Crafty Girls', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
