* {
padding-bottom: 10px;
}
body{
    background-color: hsl(54, 81%, 69%);
}
.todo {
    font-size: 1.5rem;
    word-spacing: 1.5px;
}
.animales {
    position: relative;
    width: 50%;
    height: 10%;
    padding: 2.5rem;
}
.ani {
    position: absolute;
    width: 15em;
    height: 15em;
    top: 5rem;
    left: 50rem;
}
h1{
text-align: center;
}
.img{
    margin-left: 42%;
}
.otra{
    margin-left: 35%;
}
#actividad{
    text-align: center;
    font-size: 5rem;
}
.espe{
    margin-left: 0%;
}
p{
    font-size: 1.5rem;
}
h2{
    text-align: center;
}
h6{
    margin-left: 47%;
}
h4{
    margin-left: 46%;
    font-size: 25px;
}
.h4dif{
    font-size: 25px;
    margin-left: 0%;
}
.ss{
    margin-left: 23%;
}

